.order-detail-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.order-info p, 
.customer-info p {
    font-size: 16px;
    color: #333;
}

.order-info span, 
.customer-info span {
    color: #555;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.order-info, 
.customer-info {
    line-height: 1.5;
}

